nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

#navbar-menu li {
    max-width: 100px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
    color:#e7f4fd;
}

#portfolio-button {
    margin-left: 15px;
}

#home {
    display: flex;
    padding: 40px 70px;
    padding-bottom: 0;
} 

#about, #skill-set-and-tool-set, #education, #awards, #contact {
    display: flex;
    padding: 40px 70px;
    padding-bottom: 0;
    flex-direction: column;
}

#home img {
    height: 150px;
    width: 110px;
    border-radius: 10px;
    margin-right: 30px;
}

ul li {
    margin: 7px;
}