body {
    background-color: rgb(45, 44, 44);
}

#cv-border {
    background-color: white;
    border-radius: 10px;
    padding: 100px;
}

header {
    display: flex;
}

header img {
    height: 150px;
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
}

header div {
    display: flex;
    flex-direction: column;
}

header div h2 {
    margin: 3px;
    font-size: 20px;
}

header h1 {
    margin: 0;
}

body {
    margin: 5% 20%;
}

ul li {
    margin: 5px;
}